
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
  }

  h1 {
    font-weight: normal;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 40px;
    margin: auto;
    padding: 40px;
    color: #5AD2AE;
  }


  main {

    display: grid; /*para desplegar contenido como grilla*/
    align-items: center; /* propiedad baja en contenido del menu al centro*/
    justify-items: center; /*Justifica centrandolo en el medio de la pagina*/
    border: 3px solid #C3F1FF;
    border-radius: 30px;/* redondea los bordes*/
    margin: auto;  /*centra el main*/
    width: 450px; /* le da el ancho*/
    height: 350px; /* le da el largo*/
    background: #F2FCFF; /* le da el color de fondo*/

  
  }


  
  .formulario-login {
    display: grid; /*se despliega en forma de cuadricula o grilla*/
    grid-template-columns: 1fr;
    grid-row-gap: 15px; /*row-gap establece el tamaño del espacio ( canal ) entre las filas de la cuadrícula de un elemento.*/
    

  }
  
  .formulario-login input {
    height: 35px; /*le da el largo a las cajas y botones*/
    border-radius: 50px;/* redondea los bordes*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
   
 
  }


  .formulario-login button {
    height: 40px; /*le da el largo a las cajas y botones*/
    
    border-radius: 50px;/* redondea los bordes*/
    color: #FFFFFF;
    background: lightblue;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
  }


  /* Efecto al pasar encima el mouse */
.formulario-login button:hover {
    cursor: pointer;
    background: #469F85;
    

  }


/* Color de texto de ayuda */
.formulario-login input::placeholder {
    color: #5AD2AE;
    opacity: 1;
  }





i {
  color: red;
  text-align:center;

}

.love {

  color: grey;
  text-align:center;
}

