/*Creadoor : Kristopher Gonzalez*/
.body{
    margin: 0;
    padding: 0;
    
  
}

.main {
     border: 3px ; border-style: solid ; border-color: red; /*grosor del borde solido y color */
	margin-left:auto; /*Margen izquierdo automatico*/
    margin-right:auto;/*Margen derecho automatico*/
    margin-top: 20px;/*Margen superior 20px*/
	
    width: 888px; /*ancho del main*/
    height: 406px; /*largo del main*/

}


.seccion1-principal{

    border: 3px;border-style: solid;border-color: greenyellow; /*grosor del borde, estado solido y color*/
    display: inline-block; /*se despleja en forma horizontal respetando el largo y ancho*/
    width: 290px; /*ancho de la caja1 principal*/
    height: 400px;/*largo de la caja1 principal*/
    float: left; /* para alinear un elemento a la izquierda, haciendo que el texto de alrededor 
                   del mismo se agrupe entorno a dicho elemento , hay que definir un ancho y largo*/

}

.encabezado-seccion1{
  /*borde : color , borde solido , grosor del borde  */
  border: 3px ; border-style : solid ; border-color:  blue ;
  text-align: center ;
  width: 285px;
  height: 70px;

}
.seccion1{
  
    /*borde : color , borde solido , grosor del borde  */
    border: 2px ; border-style : solid ; border-color: cyan;
    text-align: center ;
    width: 285px; /*ancho de la caja  seccion1*/
    height: 60px; /*largo de la caja  seccion1*/
    display: inline-block; /*se despleja en forma horizontal respetando el largo y ancho*/


}

.seccion2-principal {

    display: inline-block;
    border: 3px; border-style: solid ; border-color: fuchsia; 
    width: 586px;
    height: 400px;
    float: right;/* para alinear un elemento a la derecha, haciendo que el texto de alrededor 
    del mismo se agrupe entorno a dicho elemento , hay que definir un ancho y largo*/
   

}

.encabezado-seccion2 {

    border: 2px; border-style: solid; border-color: blue;
    text-align: center;
   
}

.seccion2{
   
    border: 3px; border-style: solid; border-color: gray;
    text-align: center;
    width: 581px;
    height: 270px;
}

.Seccion-texto{

    background-color:cyan ;
    font-size: large;
    border: 2px;
    border-style: solid;border-color: black;
    text-align: justify;
    width: 581px; /*Ancho */
    height: 53px; /*Largo*/
    color:black;
    font-style:italic; /*tipo de letra*/
    font-size:1em; /*Tamaño de letra*/
    

}


